<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="cells-percentage-bar-balance-styles.html">

<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../cells-percentage-bar/cells-percentage-bar.html">
<link rel="import" href="../cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../cells-atom-icon/cells-atom-icon.html">

<!--
`<cells-percentage-bar-balance>` description.

Example:

```html
<cells-percentage-bar-balance></cells-percentage-bar-balance>
```

## Data model
[comment]: <> (use either one of the data model docs examples)

Canonical DM: 'entityName', [one from list of entities]

Component own DM example:
```json
{}
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-percentage-bar-balance-scope      | scope description | default value  |
| --cells-percentage-bar-balance  | empty mixin     | {}             |

@demo demo/index.html
-->
<dom-module id="cells-percentage-bar-balance">
  <template>
    <style include="cells-percentage-bar-balance-styles cells-percentage-bar-balance-shared-styles"></style>
    <div class="percentage-bar">
			<cells-percentage-bar class="percentage-bar__bar"
	      amount-left="{{availableBalance.amount}}"
	      amount-right="{{postedBalance.amount}}"
	      amount-center="{{transitBalance.amount}}">
	        <div class="label-left">
	          <span class="label-left__description">[[leftLabel]]</span>
	          <cells-atom-amount class="label-left__description--amount"
	          	amount="{{availableBalance.amount}}"
	          	currency-code="{{availableBalance.currency}}"
	          	local-currency="[[availableBalance.currency]]"
	          	lang="[[lang]]"></cells-atom-amount>
	          <div class="label-transit">
              <cells-atom-amount
              amount="{{transitBalance.amount}}"
              currency-code="{{transitBalance.currency}}"
              local-currency="[[transitBalance.currency]]"
              lang="[[lang]]"></cells-atom-amount>
              <span>[[centerLabel]]</span>
            </div>
	        </div>
	        <div class="label-right">
	          <span class="label-right__description">[[rightLabel]]</span>
	          <cells-atom-amount class="label-right__description--amount"
	          	amount="{{postedBalance.amount}}"
	          	currency-code="{{postedBalance.currency}}"
	          	local-currency="[[postedBalance.currency]]"
	          	lang="[[lang]]"></cells-atom-amount>
	        </div>
	    </cells-percentage-bar>
	    <div class="percentage-bar__range">
	    	<cells-atom-amount class="percentage-bar__range--amount"
		    	amount="[[minBalance.amount]]"
		    	currency-code="[[minBalance.currency]]"
		    	local-currency="[[minBalance.currency]]"
		    	lang="[[lang]]"></cells-atom-amount>
		    <cells-atom-amount class="percentage-bar__range--amount"
		    	amount="[[maxBalance.amount]]"
		    	currency-code="[[maxBalance.currency]]"
		    	local-currency="[[maxBalance.currency]]"
		    	lang="[[lang]]"></cells-atom-amount>
	    </div>
	  </div>
  </template>
  <script src="cells-percentage-bar-balance.js"></script>
</dom-module>