@import "bower_components/cells-sass/main";

:host {
	padding: 1rem;
	color: var(--cells-KM1_colour, #333333);
  @apply(--cells-percentage-bar-balance);
}

.percentage-bar{
	&__bar{
		padding: 0;
		background: transparent;
		@apply(--cells-percentage-bar-balance-percentage-bar__bar);
	}

	&__range{
		display: flex;
		justify-content: space-between;
		width: 100%;
		@apply(--cells-percentage-bar-balance-percentage-bar__range);

		&--amount{
			font-size: .75rem;
  		@apply(--cells-percentage-bar-balance__range--amount);
		}
	}
}

cells-atom-amount{
	color: var(--cells-KM1_colour, #333333);
	@apply(--cells-percentage-bar-balance-amount);
}

.label-left, .label-right{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @apply(--cells-percentage-bar-balance-label-left-right);

  span{
  	margin: 0;
  	@apply(--cells-percentage-bar-balance-label-left-right--span);
  }

  .label-left__description--amount, .label-right__description--amount{
    font-size: 1.25rem;
    @apply(--cells-percentage-bar-balance-label-left-right--amount);
  }

  &__description{
  	color: var(--cells-KM1_colour, #333333);
  	@apply(--cells-percentage-bar-balance-label-left-right__description);

  	&--amount{
  		font-size: 1rem;
  		@apply(--cells-percentage-bar-balance-label-left-right__description--amount);
  	}
  }
}
.label-left{
  align-items: flex-start;
  @apply(--cells-percentage-bar-balance-label-left);
	&:after{
  	background: #004b8C;
  	@apply(--cells-percentage-bar-balance-label-left--after);
  }
}
.label-right{
  align-items: flex-end;
	@apply(--cells-percentage-bar-balance-label-right);
	&:after{
  	background: var(--cells-V4_colour, #fdbd2c);
  	@apply(--cells-percentage-bar-balance-label-right--after);
  }
}

.label-transit{
  display: flex;
  align-items: center;
  color: var(--cells-B1_colour, #006EC1);
  font-size: 0.75rem;
  font-style: italic;
  @apply(--cells-percentage-bar-balance-label-center);

  cells-atom-amount{
    margin: 0 .35rem 0 0;
    color: var(--cells-B1_colour, #006EC1);
    @apply(--cells-percentage-bar-balance-label-center-amount);
  }
}