<dom-module id="cells-percentage-bar-balance-styles"><template><style>
:host {
  display: block;
  font-family: var(--cells-fontDefault, --fontDefault);
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:host {
  padding: 1rem;
  color: var(--cells-KM1_colour, #333333);
  @apply (--cells-percentage-bar-balance); }

.percentage-bar__bar {
  padding: 0;
  background: transparent;
  @apply (--cells-percentage-bar-balance-percentage-bar__bar); }

.percentage-bar__range {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  @apply (--cells-percentage-bar-balance-percentage-bar__range); }
  .percentage-bar__range--amount {
    font-size: .75rem;
    @apply (--cells-percentage-bar-balance__range--amount); }

cells-atom-amount {
  color: var(--cells-KM1_colour, #333333);
  @apply (--cells-percentage-bar-balance-amount); }

.label-left, .label-right {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  @apply (--cells-percentage-bar-balance-label-left-right); }
  .label-left span, .label-right span {
    margin: 0;
    @apply (--cells-percentage-bar-balance-label-left-right--span); }
  .label-left .label-left__description--amount, .label-left .label-right__description--amount, .label-right .label-left__description--amount, .label-right .label-right__description--amount {
    font-size: 1.25rem;
    @apply (--cells-percentage-bar-balance-label-left-right--amount); }
  .label-left__description, .label-right__description {
    color: var(--cells-KM1_colour, #333333);
    @apply (--cells-percentage-bar-balance-label-left-right__description); }
    .label-left__description--amount, .label-right__description--amount {
      font-size: 1rem;
      @apply (--cells-percentage-bar-balance-label-left-right__description--amount); }

.label-left {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  @apply (--cells-percentage-bar-balance-label-left); }
  .label-left:after {
    background: #004b8C;
    @apply (--cells-percentage-bar-balance-label-left--after); }

.label-right {
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  @apply (--cells-percentage-bar-balance-label-right); }
  .label-right:after {
    background: var(--cells-V4_colour, #fdbd2c);
    @apply (--cells-percentage-bar-balance-label-right--after); }

.label-transit {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--cells-B1_colour, #006EC1);
  font-size: 0.75rem;
  font-style: italic;
  @apply (--cells-percentage-bar-balance-label-center); }
  .label-transit cells-atom-amount {
    margin: 0 .35rem 0 0;
    color: var(--cells-B1_colour, #006EC1);
    @apply (--cells-percentage-bar-balance-label-center-amount); }

</style></template></dom-module>